@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
        padding: 0;
    }
    ul,
    ol {
        list-style: none;
    } */

    img {
        max-width: 100%;
        height: auto;
    }
}

@layer components {
    .bg-hero {
        background-image: url("/images/rosie-kerr-greenbelt.jpg");
        background-size: cover;
        background-position: center;
    }

    .line__logo-div {
        max-height: 64px;
        max-width: 64px;
    }
}

@layer utilities {
    .text-red {
        color: red;
    }
    .text-green {
        color: green;
    }
    .text-blue {
        color: blue;
    }
    .text-yellow {
        color: yellow;
    }
    .text-orange {
        color: #cc5500;
    }
    .text-silver {
        color: silver;
        background-color: #fff;
    }
}
